<!-- _member_stats.html.erb -->
<div class="member-section hidden" id="member-section_js-<%= member.id%>">
  <div class="row">
    <div class="col-sm-3">
      <div class="member-section-title text-center">
        <h1><%= member.full_name %></h1>
        <strong class="text-primary"><%= member.weighted_cards_count %></strong> cards
      </div>
      <%= render 'shared/stat_card', stat: { value: member.total_conversion, unit: "hrs", name: "Allocated" } %>
      <%= render 'shared/stat_card', stat: { value: member.available_hours, unit: "hrs", name: "Available" } %>
      <div class="member-section-piechart">
        <p>Cards /size</p>
        <%= pie_chart member.weighted_cards_per_size, legend: false, height: "25vh", id: SecureRandom.hex(7) %>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-sm-6">
          <p>Allocated hours /rank</p>
          <%= bar_chart member.conversion_per_rank, height: "25vh", legend: false, id: SecureRandom.hex(7) %>
        </div>
        <div class="col-sm-6">
          <p>Allocated hours /size</p>
          <%= column_chart member.conversion_per_size, height: "25vh", id: SecureRandom.hex(7) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <p>Cards /size /rank</p>
          <%= bar_chart member.weighted_cards_per_size_per_rank_ck, height: "48vh", legend: false, id: SecureRandom.hex(7) %>
        </div>
        <div class="col-sm-6">
          <p>Allocated work /size /rank</p>
          <%= column_chart member.conversion_per_size_per_rank_ck, height: "48vh", legend: false, id: SecureRandom.hex(7) %>
        </div>
      </div>
    </div>
  </div>
</div>


