<!-- _team_stats.html.erb -->

<!-- header row -->
<div class="row">
  <div class="col-xs-12">
    <div class="team-dashboard-title text-center">
        <h1><%= @sprint.name %></h1>
        <p>Your have a total of <strong><%= @sprint.available_man_hours %> hours</strong> man hours available for your sprint. You have planned <strong><%= @sprint.total_conversion %> hours</strong> of work so far.</p>
    </div>
  </div>
</div>

<!-- remaining team stats row -->
<div class="row">
  <!-- main team dashboard -->
  <div class="col-sm-8">
    <!-- whole of team stats -->
    <div id="members-stats_js">
      <div class="row">

        <div class="col-sm-12">
          <div class="graph-section">
            <div class="progress" style="margin-bottom: 5px;">
              <% value = (@sprint.progress * 100).to_i %>
              <div class="progress-bar" role="progressbar" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= value %>%;">
                <%= value %>%
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="graph-section">
            <%= bar_chart @sprint.merged_conversion_per_contributor, height: "25vh", legend: false %>
            <p>Assigned time vs. time available per contributor</p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- bottom left side -->

        <div class="col-sm-3">
          <div class="graph-section">
            <%= pie_chart @sprint.weighted_cards_per_size, height: "31vh", donut: true, legend: false %>
            <p>Total number of cards per size</p>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="graph-section">
            <%= pie_chart @sprint.weighted_cards_per_rank, height: "31vh", donut: true, legend: false %>
            <p>Total number of cards per stage</p>
          </div>
        </div>

        <!-- bottom right side -->
        <div class="col-sm-6">

          <div class="graph-section">
            <%= column_chart @sprint.weighted_cards_per_size_per_contributor_ck, height: "13vh", legend: false %>
            <p>Weighted cards /size /member</p>
          </div>

          <div class="graph-section">
            <%= column_chart @sprint.conversion_per_size_per_contributor_ck, height: "13vh", legend: false %>
            <p>Allocated work /size /member</p>
          </div>

        </div>
      </div>
    </div>

    <!-- each members individual stats -->
    <div id="member-stats_js">
      <% @sprint.contributors.each do |member| %>
        <%= render 'member_stats', member: member %>
      <% end %>
    </div>

  </div>

  <!-- left side member list etc -->
  <div class="col-sm-4">

    <div class="row">

      <div class="col-sm-6">
        <div class="graph-section text-center">
          <div>
            <h2>
              <i class="fas fa-user-md"></i>
              <%= @sprint.total_contributors %>
            </h2>
            <p>Total contributor(s)</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="graph-section text-center">
          <div>
            <h2>
              <i class="fas fa-glasses"></i>
              <%= @sprint.members.count - @sprint.total_contributors %>
            </h2>
            <p>Total observer(s)</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">

          <div class="graph-section member-cards">
            <!-- member cards -->
            <%= render @sprint.contributors %>
          </div>
      </div>

        <div class="col-sm-12">
      <div class="graph-section">
          <div class="row">
            <div class="col-sm-6">
              <%= column_chart @sprint.story_points_per_size, height: "18vh" %>
              <p>Story points /size</p>
            </div>
            <div class="col-sm-6">
              <%= column_chart @sprint.conversion_per_size, height: "18vh" %>
              <p>Hours of work /size</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
