<!-- views/sprints/index -->
<div class="container">
  <h1>Choose which sprint to visualize</h1>
  <div class="row">

    <% @sprints.each do |sprint| %>
      <div class="col-xs-12 col-sm-6" data-sprint-id="<%= sprint.id %>">
        <%= render 'shared/trello_card', type: sprint %>
        <div>

          <%= link_to sprint_path(sprint) do %>
            <i class="fas fa-search"></i>
          <% end %>

          <%= link_to sprint.trello_url do %>
            <i class="fab fa-trello"></i>
          <% end %>

          <%= link_to sprint_path(sprint),
          remote: true,
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>

        </div>
      </div>
    <% end %>

  </div>
</div>

<!-- required for the trello card -->
<script src="https://p.trellocdn.com/embed.min.js"></script>


