<!-- app/views/sprints/new.html.erb -->
<div class="col-xs-12 col-sm-6">
  <div class="left-side text-center">
    <div class="header text-center">
      <h2>Sprint duration</h2>
      <div class="header-description text-center">
        <p><%= @name %></p>
      </div>
    </div>
    <div id="dates">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3" style="text-align: left;">
          <%= simple_form_for @sprint do |f| %>
            <%= f.input :start_date, as: :string %>
            <%= f.input :end_date, as: :string %>
            <%= f.input :name, as: :hidden, input_html: { value: @name } %>
            <%= f.input :trello_ext_id, as: :hidden, input_html: { value: @trello_ext_id } %>
            <%= f.input :trello_url, as: :hidden, input_html: { value: @trello_url } %>
            <%= f.button :submit, 'Set my sprint duration', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="right-side duration">
      <div class="illustration" style="background-image: url(<%= image_path('calendar-full.png') %>);">
      </div>
  </div>
<div>
