Sprint details
<%= @sprint.name %>
<br>
<%= @sprint.man_hours %>-hours
<br>
<%= @sprint.start_date %>
<br>
<%= @sprint.end_date %>
<br>
<%= @sprint.total_days %>-days
<br>
ready made DATA to display
# statistics methods that can be called on a sprint instance
@sprint.contributors <br>
@sprint.lists_count<br>
@sprint.total_cards<br>
@sprint.weighted_cards<br>
@sprint.weighted_cards_count<br>
@sprint.cards_per_size<br>
@sprint.weighted_cards_per_size<br>
@sprint.total_story_points<br>
# only weighted cards, only contributing members<br>
@sprint.cards_per_contributor<br>
@sprint.story_points_per_contributor<br>
@sprint.story_points_per_size<br>
@sprint.progress<br>
@sprint.story_points_progress
<br>
<div class="container">
  <%= pie_chart @sprint.cards_per_size %>
  <%= pie_chart @sprint.cards_per_contributor %>
  <div class="burndown">
    <h1>Current sprint burndown</h1>
    <%= render 'shared/burndown' %>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </li>
    <h3>Team breakdown</h3>
    <div class="stat-card">
      <%= render 'shared/pie' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Individual progress</h3>
      <div class="stat-card">
        <%= render 'shared/bar' %>
      </div>
    </div>
  </div>
</div>
</div>

