Sprint details
<%= @sprint.name %>
<br>
<%= @sprint.man_hours %>-hours
<br>
<%= @sprint.start_date %>
<br>
<%= @sprint.end_date %>
<br>
<%= @sprint.total_days %>-days

<div class="container">
  cards per member
  <%= pie_chart @sprint.cards.group(:size).count %>
  <div class="burndown">
    <h1>Current sprint burndown</h1>


    <!-- total story points -->

    <!-- story points per member -->

    <%= render 'shared/burndown' %>
  </div>
  <div class="row">
    <div class="col-sm-6">
    </li>
    <h3>Team breakdown</h3>
    <div class="stat-card">
      <%= render 'shared/pie' %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h3>Individual progress</h3>
      <div class="stat-card">
        <%= render 'shared/bar' %>
      </div>
    </div>
  </div>
</div>
</div>
