<div class="container">
  <div class="about padding-top-15">
    <h1>About</h1>
    <p>Born out of a desire to visually track the progress of our sprints, SprintAwesome is a lightweight productivity tool for product managers, technical team leaders, CEOs & investors</p>
  </div>
  <div class="team padding-top-15">
    <h2>Team</h2>
    <p>Brought to you by a pan-European team of tech enthusiasts (just don't ask us about solving problems on the blockchain)</p>
    <div class="card-profile" id="tb@sprintawesome.com">
      <a href="https://www.linkedin.com/in/thibaut-de-briey-316b4035/">
        <h3>Thibaut</h3>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/Bitais', class: "avatar avatar-lg" %></a>
    </div>
    <div class="card-profile" id="cs@sprintawesome.com">
      <a href="https://www.linkedin.com/in/csiss/">
        <h3>Chris</h3>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/sisserian', class: "avatar avatar-lg" %></a>
    </div>
    <div class="card-profile" id="ms@sprintawesome.com">
      <a href="https://www.linkedin.com/in/mlrcbsousa/">
        <h3>Manuel</h3>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/mlrcbsousa', class: "avatar avatar-lg" %></a>
    </div>
    <div class="card-profile" id="aw@sprintawesome.com">
      <a href="https://www.linkedin.com/in/antoine-welter-97ba3b48/">
        <h3>Antoine</h3>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/welan125', class: "avatar avatar-lg" %></a>
    </div>
  </div>
  <div class="contact padding-top-15">
    <h3>Contact</h3>
    <p>Come join us for a beer in sunny Lisbon - we can usually be found at the local quiosque in Praça São Paulo.</p>
    <p>If you really must get in touch with us digitally just view the source of this page</p>
  </div>
  <div class="Friends padding-top-15">
    <h3>Friends</h3>
    <p>We're a friendly bunch, some of our famous friends include</p>
    <div class="card-profile">
      <h3>Le Wagon</h3>
      <%= image_tag 'logo.png', class: "avatar avatar-lg" %>
      <p>
        Taught us everything we know / don't know about web development</p>
    </div>
    <div class="card-profile">
      <h3>Boris</h3>
      <%= image_tag 'boris.gif', class: "avatar avatar-lg" %>
      <p>Whilst we've never had the pleasure of actually meething the chap, this gif provides us with eternal joy</p>
    </div>
    <div class="card-profile">
      <h3>Quiosque Lisboa</h3>
      <%= image_tag 'quiosque.jpg', class: "avatar avatar-lg" %>
      <p>Where to find us when not coding</p>
    </div>
    <div class="card-profile">
      <h3>Rui Veloso</h3>
      <%= image_tag 'rui.png', class: "avatar avatar-lg" %>
      <p>Because you always need at least one Rui in Portugal -plus the man is a legend</p>
    </div>
  </div>
  <hr>
</div>