<%= render 'shared/sidebar' %>
<!-- this will probably live in the main aplication.html.erb file -->
<!-- unless the current page is the configuration flow -->
<div class="margin-sidebar components">
  <div class="container">
    <h1>Components</h1>
    <hr>
    <hr>
    <!-- font sizes -->
    <h3>Font Sizes</h3>
    <div class="section-flex justify-center align-center">
      <h1 class="montserrat weight-700">Header 1</h1>
      <h2 class="montserrat weight-700">Header 2</h2>
      <h3 class="montserrat">Header 3</h3>
      <h4 class="roboto weight-300">Header 4</h4>
      <h5 class="roboto weight-400">Header 5</h5>
      <p class="roboto weight-400">text</p>
      <p class="roboto weight-300">thin</p>
      <p class="roboto weight-700">bold</p>
      <p class="code-snippet roboto-mono">code snippet</p>
      <a class="roboto" href="#">link</a>
    </div>
    <hr>
    <!-- avatar -->
    <h3>Avatars</h3>
    <div class="section-flex text-center">
      <div class="p-3">
        <p>Large</p>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/Bitais', class: "avatar avatar-lg" %>
      </div>
      <div class="p-3">
        <p>Regular</p>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/welan125', class: "avatar avatar-md" %>
      </div>
      <div class="p-3">
        <p>Small</p>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/sisserian', class: "avatar avatar-sm" %>
      </div>
      <div class="p-3">
        <p>Rounded</p>
        <%= image_tag 'https://kitt.lewagon.com/placeholder/users/mlrcbsousa', class: "avatar-md rounded" %>
      </div>
    </div>
    <hr>
    <h3>Buttons</h3>
    <a href="#" class="roboto btn btn-default">Default</a>
    <a href="#" class="roboto btn btn-primary">Bondi Blue</a>
    <a href="#" class="roboto btn dove-gray">Dove Gray</a>
    <a href="#" class="roboto btn btn-warning">Orange</a>
    <a href="#" class="roboto btn btn-info">Yellow</a>
    <a href="#" class="roboto btn btn-success">Meadow</a>
    <a href="#" class="roboto btn btn-info turquoise">Turquoise</a>
    <a href="#" class="roboto btn btn-info malibu">Malibu</a>
    <a href="#" class="roboto btn btn-light iron">Iron</a>
    <a href="#" class="roboto btn btn-dark mine-shaft">Mine Shaft</a>
    <hr>
    <h3>Sidebar</h3>
    <p><-</p>
        <hr>
        <h3>Percentage bars</h3>
        <%= render 'shared/percentage' %>
        <hr>
        <h3>Stats</h3>
        <%= render 'shared/stats' %>
        <hr>
        <h3>Burndown chart</h3>
        <div id="burndown">
          <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
        </div>
        <hr>
      </div>
    </div>