<!-- PAGES/KNOWLEDGE -->
<div class="container">

  <!-- HEADER -->
  <div class="row">
    <div class="col-md-12">
      <div class="header">
        <div class="title text-center">
            <h2>Knowledge Base</h2>
        </div>
        <div class="sub-title text-center">
            <p>In order to ensure smooth operation of the dashboard please adhere to the style guide below. <br>We have also included anwers to the most frequently asked questions.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- CHRIS PROCESS -->

 <!--  <div class="container">
    <div class="knowledge padding-top-15">
      <h1>Knowledge Base</h1>
      <p>In order to ensure smooth operation of the dashboard please adhere to the style guide below. We have also included anwers to the most frequently asked questions.</p>
    </div>
    <div class="style padding-top-15">
      <h2>Style Guide</h2>
      <div class="sizing padding-top-15">
        <h3>T shirt sizing</h3>
        <p>Label all backlog items with a T shirt size from XS to XXL, followed by a pipe.
          E.g. 'As a user I can visualise my sprint | XL'</p>
        <p><a href="https://trello.com/b/3u9aZLDj">We recommend using our Template board to get started!</a></p>
      </div>
    </div>
    <div class="faq padding-top-15">
      <h2>FAQ</h2>
      <ul>
        <li><strong>Q: Do I have to adhere to your style guide?</strong></li>
        <li>A: No! We support custom integrations allowing you to keep your existing conventions, please get in touch for a quote</li>
        <li><strong>Q: Why did you make this?</strong></li>
        <li>A: We all like living life on the limit, and needed a way to make sure we didn't cross the threshold of possible maximum work to do against remaining time</li>
        <li><strong>Q: You seem like a team of great guys / developers, can I hire you?</strong></li>
        <li>A: Yes! We are indeed a great bunch :) again please feel free to <a href="/about">get in touch</a></li>
        <li><strong>Q: Are there any other examples of your work?</strong></li>
        <li>A: Yes - check out our <a href="http://airdeskcoffee.herokuapp.com/">desk rental platform</a></li>
      </ul>
    </div>
</div> -->

  <!-- SPRINT PROCESS -->
  <div class="intermediary-title">
    <h4 class="text-left">SPRINT PROCESS</h4>
    <p></p>
  </div>

  <div class="row">
    <div class="process">
       <div class="steps  text-center">
         <div class="step-title">GENERAL</div>
         <div class="step-content text-left">This list is used to gather all the info that concerns the development team and the sprint in general.</div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">USER STORIES</div>
         <div class="step-content text-left"><p>This list gathers all the users stories that are planning to be implemented during the sprint. Depending on the number of team member, a Sprint shouldn't have more than 10 users stories.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">BACKLOG</div>
         <div class="step-content text-left"><p>This list contains all the sub-tasks that needs to be done in order to develop all the expected user stories planned for the Sprint. The Product Owner assigned not only each task to a team contributor, but give it a T-shirt size (XS, S, M, L, XL, XXL) depending on the difficulty.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">DOING</div>
         <div class="step-content text-left"><p>Each time a member of the team (aka the contributors) is working on a new development, he takes a card from the backlog and put it on this list. When (s)he has finished, he moves the card from this list to the next list.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">READY FOR REVIEW</div>
         <div class="step-content text-left"><p>Great product owner makes sure each line of code is reviwed with a new eye. This is the list waiting for someone to review someone else code. It can be the senior dev, a pair member, or anyone else dedicated to this work.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">REVIEWING</div>
         <div class="step-content text-left"><p>Whenever someone is reviewing some line of codes, he puts the card on this list. Sometimes somes adjustments and improvements are made both by the reviewer and the reviewee.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">DONE</div>
         <div class="step-content text-left"><p>When a development (or a task in general) is finished and reviwed, it is being put this list.</p></div>
       </div>

       <div class="steps col-xs-12 col-md-4 text-center">
         <div class="step-title">DEPLOYED</div>
         <div class="step-content text-left"><p>Every x days, the completed new features are being deployed in demo or production environment.</p>.</div>
       </div>
    </div>
  </div>

  <!-- SPRINT AWESOME STYLE GUIDE -->
  <div class="intermediary-title">
    <h4 class="text-left">SPRINT AWESOME STYLE GUIDE</h4>
    <p></p>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/xs.png') %>);">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/s.png') %>);">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/m.png') %>);">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/l.png') %>);">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/xl.png') %>);">
      </div>
    </div>

    <div class="col-xs-6 col-sm-4">
      <div class="size-card" style="background-image: url(<%= image_path('pages/xxl.png') %>);">
      </div>
    </div>
  </div>

  <!-- LINK TO TRELLO BOARD TEMPLATE -->
  <div class="row">
    <div class="col-md-12">
      <div class="link-to-board-template">
          <div class="text-center">
              <h3>Download our Sprint board template</h3>
          </div>
          <div class="text-center">
            <%= link_to 'Copy our Template board', "https://trello.com/b/3u9aZLDj", class: "roboto btn btn-warning btn-lg" %>
          </div>
        </div>
    </div>
  </div>

</div>


<!-- TRELLO TEMPLATE -->
<div class="wrapper">
  <div class="row">
      <div class="col-md-12">
        <div class="template text-center">
          <div class="ti">
            <h3>SPRINT BOARD TEMPLATE</h3>
          </div>
          <div class="board-template" style="background-image: url(<%= image_path('pickboard.png') %>);">
          </div>
        </div>
      </div>
  </div>
</div>
