  <div class="stats-title">
    <div class="stats-title-description">
      <div class="stats-title-days">
        <div class="stats-title-labour">
        </div>
      </div>
    </div>
  </div>


          <div class="graph-section-title">
            <h1>Rank</h1>
          </div>

          <%= render 'shared/stat_card', stat: { value: @sprint.progress_conversion, unit: "hrs", name: "Work Done" } %>
          <%= render 'shared/stat_card', stat: { value: @sprint.total_conversion, unit: "hrs", name: "Total work" } %>
          <div class="graph-section-piechart">
            <p>Weighted cards /rank</p>
            <%= pie_chart @sprint.weighted_cards_per_rank, height: "200px", donut: true, legend: false %>
          </div>

            <p>Hours of work /size</p>
            <%= column_chart @sprint.conversion_per_size, height: "150px" %>
        <div class="graph-section-title">
          <h1>Size</h1>
        </div>
        <!-- relevant grouping -->
        <%= render 'shared/stat_card', stat: { value: @sprint.story_points_progress.to_i, unit: "pts", name: "Points progress" } %>
        <%= render 'shared/stat_card', stat: { value: @sprint.total_story_points, unit: "pts", name: "Total Story points" } %>

        <div class="graph-section-piechart">
          <p>Weighted cards /size</p>
          <%= pie_chart @sprint.weighted_cards_per_size, height: "200px", donut: true, legend: false %>
        </div>
        <!--  -->
