<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Sprint Awesome | Sprint visualisation tool for product owners using Trello">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="logo.png">
    <meta property="og:description" content="Visually track the progress of your sprints with key metrics: burndown chart, team productivity & individual contributions.">
    <meta property="og:site_name" content="Sprint Awesome"/>
    <meta name="google-site-verification" content="xwlz7RH9y1GnoiKaKKvOk7mUbhIQi7XdaLACMmLnJW0" />
    <title>Sprint Awesome | Sprint visualisation tool for product owners using Trello</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <% login = current_page?(new_user_registration_path) || current_page?(new_user_session_path) %>
    <% unless login %>
      <%= render 'shared/sidebar' %>
    <% end %>
    <div class="<%= "margin-left-80" unless login %>">
      <%= yield %>
    </div>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :charts_js %>
  </body>
</html>