<!-- contribute.html.erb -->

<%= @sprint.name %>

<%= form_tag sprint_labour_path(@sprint), html: { class: "form-inline" } do %>
  <div class="input-group">
    <%= text_field_tag :query,
      @query,
      class: "form-control",
      placeholder: "hours"
    %>



  </div>



  <span class="input-group-btn">
    <%= button_tag 'Next', class: "btn btn-default" %>
  </span>
<% end %>

    <% @members.each do |member| %>
      <%= member.full_name %>
    <% end %>
